/* Add your styles here */
body {
  font-family: black, black-sword;
  line-height: 2.0;
  margin: 0;
  padding: 35px;
  background-color: #292626;
}

#content {
  max-width: 900px;
  margin: 0 auto;
  padding: 35px;
  background-color: #292626;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(1, 1, 5, 2.0);
}

h1 {
  color: white;
}

p {
  color: white;
  center:
}
 

h2 {
   color: white;

font-family: 'Oswald', sans-serif;

 

